@implements IDisposable
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IShoppingCartService ShoppingCartService
@inject IManageCartItemsLocalStorageService ManageCartItemsLocalStorageService


<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand @(showSearchBar ? "d-none" : "d-flex")" href="#">LOGO</a>

        <!-- Thanh tìm kiếm ẩn -->
        <div class="form-search @(showSearchBar ? "active m-3" : "") d-flex w-100 gap-3 justify-content-center align-items-center">
            <input @oninput="SearchProduct" type="text" class="form-control search-bar shadow-none" placeholder="Search...">
            <button class="btn btn-nav shadow-none border-0" type="submit" @onclick="ToggleSearchBar">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>

        <!-- Nút rút gọn cho màn hình di động -->
        <button class="navbar-toggler shadow-none border-0 @(showSearchBar ? "d-none" : "")" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Các Tab Menu và Icon -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="menu navbar-nav flex-grow-1 justify-content-center @(showSearchBar ? "d-none" : "")">
                <li class="nav-item">
                    <a class="nav-link" @* @onclick="@(() => NavigateToCategoryPage("Phone")) *@">Phone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @* @onclick="@(() => NavigateToCategoryPage("Laptop"))" *@>Laptop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @* @onclick="@(() => NavigateToCategoryPage("Tablet"))" *@>Tablet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @* @onclick="@(() => NavigateToCategoryPage("Accessory"))" *@>Accessory</a>
                </li>
            </ul>
            <div class="nav-right d-flex gap-3 justify-content-center @(showSearchBar ? "d-none" : "")">
                <!-- Icon Search -->
                <button class="btn-search btn btn-nav shadow-none border-0" @onclick="ToggleSearchBar">
                    <FluentIcon Value="@(new Icons.Regular.Size24.Search())" Color="@Color.Fill" />
                </button>
               
                <!-- Icon Cart -->
                <button class="btn-cart btn btn-nav shadow-none border-0" @onclick="NavigateToShoppingCart">
                    <FluentIcon Value="@(new Icons.Regular.Size24.Cart())" Color="@Color.Fill" />
                    <span class="position-absolute  translate-middle badge rounded-pill bg-danger">
                        @shoppingCartItemsCount
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
            </div>
            <div class="nav-LogIn d-flex gap-3 justify-content-center @(showSearchBar ? "d-none" : "")">
                <LoginDisplay></LoginDisplay>
            </div>
        </div>
    </div>
</nav>

<!-- Bảng hiển thị kết quả tìm kiếm -->
@* <div class="search-results w-100" style="@(showSearchBar ? "display: block;" : "") @(productsDTOs.Any() ? "padding: 20px 25px;" : "")">
    @if (productsDTOs.Any())
    {
        <ul class="search-results-list">
            @foreach (var result in productsDTOs)
            {
                <li class="product-item" @onclick="() => NavigateToDetailPage(result.Id)">
                    <img src="@result.ImageUrl" alt="Product Image" class="product-image" />
                    <div class="product-search-list">
                        <span class="product-name">@result.Model</span>
                        <span class="product-price">$@result.BasePrice</span>
                    </div>
                </li>
            }
        </ul>
    }
</div> *@

<div class="bg-sg" style="@(showSearchBar ? "display: block;" : "")"></div>

@code {
    private string? currentUrl;

    private bool showSearchBar = false;

    private async void ToggleSearchBar()
    {
        String setBodyStyle = "unset";
        showSearchBar = !showSearchBar;
        StateHasChanged();
        if (showSearchBar)
        {
            setBodyStyle = "hidden";
        }
        await JSRuntime.InvokeVoidAsync("setBodyStyle", setBodyStyle);
    }

    private IEnumerable<ProductDto> Products { get; set; }


    private async void SearchProduct(ChangeEventArgs e)
    {
        var searchTerm = e.Value.ToString();
        if (searchTerm.Length >= 2)
        {
            
        }
        else
        {
            // Products clear
        }
    }

    private void NavigateToDetailPage(int id)
    {
        NavigationManager.NavigateTo($"/Detail/{id}");
        ToggleSearchBar();
    }

    private void NavigateToShoppingCart()
    {
        NavigationManager.NavigateTo($"/ShoppingCart");
    }

    // private void NavigateToCategoryPage(string category)
    // {
    //     NavigationManager.NavigateTo($"/products/{category}");
    // }

    private int shoppingCartItemsCount = 0;
    private IEnumerable<CartItemDto> ShoppingCartItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ShoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
        // ShoppingCartItems = await ManageCartItemsLocalStorageService.GetCollection();


    }

    private void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemsCount = totalQty;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        ShoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }
}